@model ShopCartViewModel

    <div class="container">
        @foreach (var el in Model.shopCart.listShopItems)
        {
            @Html.Partial("AllCartShoes", el)
        }



       
        <hr />
        <a class="btn btn-danger" asp-controller="Order" asp-action="CheckOut">Pay</a>
    </div>