<h1>Login Page</h1>

<form action="/Home/Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <h4>
        Wrong password or login. Try again.
    </h4>
    <button type="submit">Login</button>
</form>
